@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-blue-1;
}

@layer components {
  .hero {
    background: url(/assets/bg-curvy-mobile2.svg) no-repeat;
    background-size: 125%;
    background-position: 50% 100%;
  }

  @media (min-height: 800px) {
    .hero {
      background-size: 104%;
      background-position: bottom;
    }
  }

  @media (min-width: 1024px) {
    .hero {
      background: url(/assets/bg-curvy-desktop.svg) no-repeat;
      background-position: 50% 100%;
      background-size: contain;
    }
  }
}
